 
​* {
margin: 0;
  padding: 0;
    border: 0;
    box-sizing: border-box;
}
img {
    display: block;
  /* width: 100%; */
    height: auto;
}
ul,
ol {
    padding: 0;
  list-style: none;
}

a {

  text-decoration: none;
}
.section-one-h21,.footer-ul-li-p{
font-family: "PT Serif";
font-weight: 400;
}
.section-one-h1,.section-one-h2,.section-two-ul-li-h2,.section-two-ul-li-h21,.section-three-ul-h2,.section-four-ul-h2{
    font-family: "Playfair Display";
    font-weight: 400;
}
.section-one-p,.section-three-ul-li,.section-four-ul-form,.footer-ul-li-p,.header-ul-li-a1{
    font-family: "Roboto";
    font-weight: 400;
}
.header-ul-li-a2,.header-ul-li-a3,.header-ul-li-a4,.header-ul-li-a5,.header-ul-li-a6,.header-ul-li-a6,.header-ul-li-a7{
    color: #C7C7C7;
    font-family:  "Roboto" ;
    font-weight: 300;
}
.header-ul-li-a1,.header-ul-li-a8{
    color: white;
}
.header-ul-li-img{
    margin-left: 168px;
}
.header{    
    display: flex;
    background-color: #012D63;
    
    height: 93px;
}
.header-ul{
    display: flex;
}
.header-ul-li:not(:last-child){
    margin-right: 30px;
}
.header-ul-li-a1{
    margin-left: 152px;
}
.header-ul2-li-a7{

    color: #C7C7C7;
}
.header-ul2-li-a8{
    color: #FFFFFF;
}
.flex{
    align-items: center;
    display: flex;
}
.header-ul2{
    
    display: flex;
    margin-left: 73px;
}
.header-ul-li1{
    margin-right: 7px;
}



.conteiner{
    
    width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-one{
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 183px;
    background-repeat: no-repeat;
    background-image: url(./Group\ 37\ \(1\)\ 1\ \(1\).png);
}
.section-one-img{
    margin-left: 120px;
}

.section-one-button{
    border: 0px;
    margin-left: 114px;
    font-family: "Roboto";
    font-weight: 400;
    width: 254px;
    height: 67px;
    border-radius: 10px;
    background-color: #8E32C6;
    color: #fff;
    font-size: 24px ;
    

}
.section-one-h21{
    margin-left: 145px;
    font-size: 48px;
    color: #FFFFFF;
}
.section-one-h1{
    margin-left: 106px;
    color: #FFFFFF;
    font-size: 144px;
    margin-top: 8px;
}
.section-one-h2{
    margin-left: 114px;
    margin-top: 8px;
    font-size: 72px;
    color: #FFFFFF;
}
.section-one-p{
    /* On this site you can find custom Nike sneakers of your dreams. The original company caт`t create such beautiful sneakers as we do. Good luck finding your way in the world of custom sneakers. */
width: 508px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
    font-size: 18px;
    margin-left: 114px;
    color: #FFFFFF;
}
.neznaju{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


































.section-two{
    padding-bottom: 105px;
    padding-top: 105px;
    justify-content: center;
    background-size: cover;
    display: flex;
    background-image: url(./Group\ 8\ 1\ \(1\).png);
    background-repeat: no-repeat;
}
.section-two-ul-li-h2{
    padding-left: 93px;
    padding-right: 93px;
    font-size: 36px;
    color: #FFFFFF;
}
.section-two-ul-li{
    padding-left: 35px;
    padding-right: 35px;
}
.section-two-ul{
    padding-top: 25px;
    padding-bottom: 25px;
     display: flex;
    border: 5px solid #8E32C6;
}
.section-two-ul-li-img1{
    display: block;
    margin: 0 auto;
}

.section-two-ul-li-img{
    display: block;
    margin: 0 auto;
    margin-left: 95px;
    margin-right: 95px;
}
.section-two-ul-li1{
    border-right: 1px solid #FFFFFF;
    border-left:  1px solid #FFFFFF;
}
.section-two-ul-li-h21{
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}

.section-three{
    height: 606px;
    padding-top: 25px;
    padding-bottom: 115px;
    display: flex;
    background-size:contain,cover;
    background-repeat: no-repeat;
    background-image: url(./цветы\ 2\ 1\ \(1\).png) , url(./Group\ 6\ 1\ \(1\).png);
    background-position: left;
}
.section-three-ul-h2,.section-two-ul-li-h21{
    font-size: 48px;
    color:  #FFFFFF;
}
.section-three-ul-li{
    justify-content: space-between;
    display: flex;
    color:#FFFFFF ;
}
.section-three-ul-li-p{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.section-three-ul-li2{
   margin-right: 93px;
   margin-left: 93px;
}
.section-three-ul-li-img{
    width: 31px;
    height: 31px;
}
.section-three-h2{
    justify-content: center;
    display: flex;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.section-three-ul{

    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner2{
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.section-three-ul-li1{
    width: 255px;
    /* height: 292px; */
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(123, 84, 179),0px 30px 0px -13px rgb(83, 57, 120);
    background: linear-gradient(135.00deg, rgb(0, 229, 230) 7.292%,rgb(0, 168, 247) 26.042%,rgb(154, 118, 249) 62.5%,rgb(204, 94, 194) 100%);
    padding-top:50px ;
    padding-bottom: 30px;
    padding-right:14px ;
    padding-left:13px ;
}
.section-three-ul-li2{
    width: 255px;
    /* height: 292px; */
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(145, 89, 177),0px 30px 0px -13px rgb(97, 51, 124);
    background: linear-gradient(135.00deg, rgb(255, 104, 180) 0%,rgb(255, 69, 225) 26.042%,rgb(206, 58, 255) 62.841%,rgb(137, 97, 255) 100%);
    padding-top:50px ;
    padding-bottom: 30px;
    padding-right:14px ;
    padding-left:13px ;
    border: 0;
}
.section-three-ul-li3{
    width: 255px;
    /* height: 292px; */
    padding-top:50px ;
    padding-bottom: 30px;
    padding-right:14px ;
    padding-left:13px ;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(185, 90, 76),0px 30px 0px -13px rgb(115, 47, 38);
    background: linear-gradient(135.00deg, rgb(255, 225, 40) 0%,rgb(255, 155, 92) 30.208%,rgb(255, 131, 129) 63.286%,rgb(255, 84, 137) 100%);
}
.three-div1{
    display: flex;
}
.section-three-ul-li-p1{
    
    color: #D8D8D8;
    margin: 0;
    margin-bottom: 47px;
}
.section-three-ul-li-p{
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin: 0;
    margin-left: 5px;
}
.section-three-ul-li-p2{

    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
}
.section-three-ul-li-p3{
    
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-top: 1px;
    margin-left: 5px;
}



















.section-four{
    background-size: cover;
    background-image:url(./Group\ 2\ 1\ \(1\).png) ;
    height: 509px;
}
.footer-div-div-ul2-li-a{
    color: #FFFFFF;
}
.section-four-ul-form-input{
    padding-left: 25px;
    margin-top: 19px;
    font-size: 24px;
    border-radius: 50px;
    width: 580px;
    height: 50px;
}
.section-four-ul-form-input1{
    padding-left:25px; ;
    font-size: 28px;
    border-radius: 50px;
    width: 690px;
    height: 60px;
}
.section-four-ul-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-four-ul-form-button{
    margin-top: 19px;
    color: #FFFFFF;
    border: 0px;
    background-color: #8E32C6;
    border-radius: 16px;
    width: 248px;
    height: 68px;
    font-size: 24px;
}


.flex{
    display: flex;
}
.section-four-ul-h2{
    margin: 0;
    padding: 0;
    padding-top: 21px;
    padding-bottom: 33px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.section-four-ul-div{
    position: relative;
}
.section-four-ul-div-span{
    font-family: "Roboto";
    font-weight: 400;
    color: #8D8D8D;
    font-size: 28px;
    position: absolute;
    right: 80px;
    top: 13px;
}
.section-four-ul-form-input2{
    padding-left: 25px;
    margin-top: 19px;
    font-size: 24px;
    border-radius: 50px;
    width: 580px;
    height: 50px;
}


























































.footer{
    display: flex;
    background-color: #021635;

    color: #FFFFFF;
}
.footer-div{
    
    padding: 0 15px;
    margin: 0 auto;
    width: 1110px;
}
.footer-div-div-ul{
    
    font-size: 24px;
}
.footer-div-div2-p{
    font-size: 18px;
}
.footer-div-div-ul2{
    font-size: 24px;
}
.footer-div-div3-p1{
    font-size: 24px;
}
.footer-div-div{
    justify-content: space-between;
    display: flex;
}
.footer-div-div2{
    padding-top: 24px;
    border-top: 1px solid #9B9B9B;
    display: flex;
    justify-content: space-between;
    
}
.nowyi-class{
    padding: 0 15px;
}
.footer-div-div-ul2-li{
    
    margin-bottom: 15px;
}
.footer-div-div-ul2{
    padding-top: 35px;
}













.backdrop{
    opacity: 1;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0,0, 0,0.5);
}
.modal{
    
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); 
     background-color: rgb(255, 255, 255);
}
.backdrop,.is-hidden{
    opacity: 0;
    pointer-events: none;
}